# Install with: `pip install -r requirements.txt`

# General
boto3>=1.6.3
argparse

# ec2-instances.py
paramiko

# ec2-reserved.py
google-api-python-client
oauth2client

# ec2-snap-mgmt.py
boto

# s3-mongodump
sshutil
#operator

# route53-[set|del]-hostname.py
#urllib2
#socket
#time

#lifecycle-hook-worker.py
#subprocess
#shlex
ast

#s3-download-file.py
botocore
